<a href="https://colab.research.google.com/github/npcateam2/data_agro/blob/main/colab/tratamento_05022023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Dados/unified-data/full_table.csv')

In [6]:
df.isna().sum()

municipio                    5426
cod_municipality                0
regiao_intermediaria            0
cod_regiao_intermediaria        0
cod_regiao_imediata             0
regiao_imediata                 0
tipo_producao                8164
cod_variavel                 5426
variavel                     8164
cod_produto                     0
produto                      8164
cod_metrica                 67844
metrica                     67844
valor                        5426
ano                          5426
dtype: int64

In [8]:
df = df.dropna()

In [10]:
df = df.drop_duplicates()

In [11]:
df

,municipio,cod_municipality,regiao_intermediaria,cod_regiao_intermediaria,cod_regiao_imediata,regiao_imediata,tipo_producao,cod_variavel,variavel,cod_produto,produto,cod_metrica,metrica,valor,ano
0,Abaetetuba,1500107,Abaetetuba,150003,1501,Belém,Pecuária,105.0,Efetivo dos rebanhos,2670.0,Bovino,24.0,Cabeças,28.000000,1974.0
1,Abaetetuba,1500107,Abaetetuba,150003,1501,Belém,Pecuária,105.0,Efetivo dos rebanhos,2670.0,Bovino,24.0,Cabeças,54.000000,1975.0
2,Abaetetuba,1500107,Abaetetuba,150003,1501,Belém,Pecuária,105.0,Efetivo dos rebanhos,2670.0,Bovino,24.0,Cabeças,47.000000,1976.0
3,Abaetetuba,1500107,Abaetetuba,150003,1501,Belém,Pecuária,105.0,Efetivo dos rebanhos,2670.0,Bovino,24.0,Cabeças,39.000000,1977.0
4,Abaetetuba,1500107,Abaetetuba,150003,1501,Belém,Pecuária,105.0,Efetivo dos rebanhos,2670.0,Bovino,24.0,Cabeças,10.000000,1978.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1430074,Vitória do Xingu,1508357,Altamira,1506,150018,Altamira,Produto das lavouras temporárias,41.0,Área de cobertura,-1.0,Outros,1.0,Hectares,366.334757,2021.0
1430075,Xinguara,1508407,Redenção,1504,150014,Xinguara,Área de cobertura de Floresta,3.0,Área de cobertura,-1.0,Florest,1.0,Hectares,67297.304704,2021.0
1430076,Xinguara,1508407,Redenção,1504,150014,Xinguara,Pastagem,15.0,Área de cobertura,-1.0,Pasto,1.0,Hectares,300973.161862,2021.0
1430077,Xinguara,1508407,Redenção,1504,150014,Xinguara,Produto das lavouras temporárias,39.0,Área de cobertura,-1.0,Soja (em grão),1.0,Hectares,1232.578321,2021.0
1430078,Xinguara,1508407,Redenção,1504,150014,Xinguara,Produto das lavouras temporárias,41.0,Área de cobertura,-1.0,Outros,1.0,Hectares,2686.891111,2021.0

In [12]:
df.variavel.unique()

array(['Efetivo dos rebanhos', 'Quantidade produzida', 'Área colhida',
       'Área plantada', 'Área destinada à colheita',
       'Quantidade produzida na silvicultura', 'Área de cobertura'],
      dtype=object)

In [20]:
df = df.loc[(df['variavel'] != 'Área destinada à colheita') & (df['variavel'] != 'Área plantada') & (df['variavel'] != 'Área colhida')]

In [22]:
df.to_csv('/content/drive/MyDrive/Dados/unified-data/full_table_05022023.csv', index=False)

# GitHub

In [23]:
!ls

drive  sample_data

In [24]:
!cd drive

In [25]:
!ls

drive  sample_data

In [26]:
!cd drive
!ls

drive  sample_data

In [27]:
!git clone https://github.com/npcateam2/data_agro.git

Cloning into 'data_agro'...
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 4 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (4/4), 1.56 KiB | 1.56 MiB/s, done.

In [28]:
!cp "/content/drive/MyDrive/Colab Notebooks" "/content/data_agro/Colab Notebooks"

cp: -r not specified; omitting directory '/content/drive/MyDrive/Colab Notebooks'

In [29]:
!git add .

fatal: not a git repository (or any of the parent directories): .git

In [31]:
!git add ./data_agro

fatal: not a git repository (or any of the parent directories): .git

In [33]:
!cd data_agro

In [34]:
!git status

fatal: not a git repository (or any of the parent directories): .git

In [35]:
!git init data_agro

Reinitialized existing Git repository in /content/data_agro/.git/

In [36]:
!ls

data_agro  drive  sample_data

In [37]:
!cd data_agro

In [39]:
!ls

data_agro  drive  sample_data

In [40]:
!cd data_agro

In [41]:
!ls

data_agro  drive  sample_data