# Importing libaries

In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Reading tables for unification

In [17]:
lavouras_temporarias = pd.read_csv('/content/drive/MyDrive/Dados/Dados_SIDRA/table_1612-lavouras_temporarias.csv') # Table of temporary crops
lavouras_permanentes = pd.read_csv('/content/drive/MyDrive/Dados/Dados_SIDRA/table_1613-lavouras_permanentes.csv') # Table of permanents crops
sivilcultura = pd.read_csv('/content/drive/MyDrive/Dados/Dados_SIDRA/table_291-sivilcultura.csv')                  # Table of florestry
pecuaria = pd.read_csv('/content/drive/MyDrive/Dados/Dados_SIDRA/table_3939-pecuaria.csv')                         # Livestocks

# Unification of tables

## Reading Micro regions table

In [18]:
# Reading micro regions table
micro_regioes = pd.read_csv('/content/drive/MyDrive/Dados/dados-de-apoio/Microregioes.csv')

# Changing column name for cities code (ID)
micro_regioes = micro_regioes.rename(columns = {'CD_GEOCODI':'cod_cidade'})
micro_regioes.head()

,nome_mun,cod_cidade,cod_rgi,nome_rgi,cod_rgint,nome_rgint
0,Itapuã do Oeste,1101104,110001,Porto Velho,1101,Porto Velho
1,Candeias do Jamari,1100809,110001,Porto Velho,1101,Porto Velho
2,Nova Mamoré,1100338,110001,Porto Velho,1101,Porto Velho
3,Porto Velho,1100205,110001,Porto Velho,1101,Porto Velho
4,Guajará-Mirim,1100106,110001,Porto Velho,1101,Porto Velho

## Reaging SIDRA's tables

In [19]:
iter_tables = [pecuaria, sivilcultura, lavouras_temporarias, lavouras_permanentes]
column_names = lavouras_permanentes.columns
sidra_list = []

for i in iter_tables:
  i.columns = column_names
  sidra_list.append(i)

In [20]:
# Unifying tables
sidra_df = pd.concat(sidra_list)

# Reseting index 
sidra_df = sidra_df.reset_index(drop = True)

# Formating cities names (Removing suffix) 
sidra_df.cidade = sidra_df.cidade.str.replace(' - PA', '')

# Strip on cities names
sidra_df['cidade'] = sidra_df.cidade.str.strip()
sidra_df.head()

,cod_mun,mun,cod_metrica,metrica,valor,cod_cidade,cidade,cod_ano,ano,cod_variavel,variavel,cod_produto,produto,tipo_producao
0,6,Município,24.0,Cabeças,28,1500107,Abaetetuba,1974,1974,105,Efetivo dos rebanhos,2670,Bovino,Pecuária
1,6,Município,24.0,Cabeças,54,1500107,Abaetetuba,1975,1975,105,Efetivo dos rebanhos,2670,Bovino,Pecuária
2,6,Município,24.0,Cabeças,47,1500107,Abaetetuba,1976,1976,105,Efetivo dos rebanhos,2670,Bovino,Pecuária
3,6,Município,24.0,Cabeças,39,1500107,Abaetetuba,1977,1977,105,Efetivo dos rebanhos,2670,Bovino,Pecuária
4,6,Município,24.0,Cabeças,10,1500107,Abaetetuba,1978,1978,105,Efetivo dos rebanhos,2670,Bovino,Pecuária

## Merging tables

In [21]:
# Merging tables of the unyfied table and micro regions table
sidra_df = sidra_df.merge(micro_regioes, how = 'outer', on = 'cod_cidade')

## Formating final table

In [22]:
# Changing the order of final table with the purpose of formating
sidra_df = sidra_df[['cidade', 'cod_cidade', 'nome_rgi', 'cod_rgi', 'cod_rgint', 'nome_rgint', 
                    'tipo_producao', 'cod_variavel', 'variavel', 'cod_produto', 'produto',
                    'cod_metrica','metrica', 'valor', 'ano']]

# Saving table

In [23]:
# Saving final table formated with name "table_full"
sidra_df.to_csv('/content/drive/MyDrive/Dados/Dados_SIDRA/table_full.csv', index = False)